<section class="inner-body" style="background-color: white;">
    <section class="vdo-wrap">

        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Support</a></li>
                    <li class="breadcrumb-item active" aria-current="page">How to Apply</li>
                </ol>
            </nav>
        
        </div>

        <iframe class="vdo-banner" src="https://www.youtube.com/embed/EngW7tLk6R8?si=On9rD3Fc3UEh0nzB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>

    <section class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 ">
                    <div class="card-box">
                        <h2 class="main-title  mb-4">How to apply on Check DBS?</h2>
                       <p>New to DBS checks or just want to see how the process works? Our step-by-step video guide walks you through the entire application journey—from entering your personal details and address history, to uploading your ID documents and completing payment.
                        Whether you're applying for yourself or on behalf of an organization, this video makes it easy to understand what’s needed, what to expect, and how we help you every step of the way. Fast, secure, and fully supported from start to finish.</p>
                    </div>
                </div>
             
            </div>
        </div>
    </section>

</section>