
<header>
    <div class="container" style="padding: 15px 0;">
        <div class="box-1">
            <a><img src="../images/logo.png"></a>
  
        </div>
  
        <div class="box-2">
    
            <button routerLink="/sign-in" class="primary-btn">Save and sign out</button>
        </div>
  
        <a class="menu-btn"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
            </svg></a>
    </div>

    

</header>


<section class="wrapper-box" style="background-color: #FCEFFF;">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="card-dbs">

                    <div class="content-box">
                        <h1 class="sub-heading">Statement of Fair Processing</h1>
                        <p>Please confirm below that you agree to the following statement of fair processing</p>
                        <p>Applications for <b> Standard and Enhanced Checks</b> are processed by Disclosure and
                            Barring Service (DBS).</p>
                        <p>
                            By accessing the Website and providing your personal details, you agree to accept and be
                            bound by the Privacy Policy, which explains how First Advantage Europe Ltd processes
                            your data for the purposes of obtaining your Disclosure from DBS, the key terms of which
                            are non-exhaustively summarised in this statement of fair processing.

                            Data can only be amended by the applicant using the email address and password supplied
                            at registration. Therefore, it is important that you keep this information in a secure
                            place.

                            By ticking the two boxes below, applicants using this service for the purpose of
                            obtaining a Disclosure from DBS, confirm that:
                        </p>


                        <p> <input class="form-check-input" type="checkbox" value="" id="checkDefault"> If I am
                            applying for a DBS Standard and Enhanced Check, I have read the Standard/Enhanced Check
                            Privacy Policy for
                            applicants <a
                                style="color: blue;">https://www.gov.uk/government/publications/dbs-privacy-policies</a>
                            and I understand how DBS will process my personal data and the options available to me
                            for submitting an application.</p>

                        <div class="bdr-box">
                            <p><b>Consent to obtain e-Bulk Standard/Enhanced Check electronic result</b></p>
                            <p> <input class="form-check-input" type="checkbox" value="" id="checkDefault"> I
                                consent to the DBS providing an electronic result directly to the registered body
                                that has submitted my application. I understand that an electronic result contains a
                                message that indicates either the certificate is blank or to await certificate which
                                will indicate that my certificate contains criminal record information. In some
                                cases the registered body may provide this information directly to my employer prior
                                to you receiving the certificate.</p>
                            <p>I understand if I do not consent to an electronic result being issued to the
                                registered body submitting my application that I must not proceed with this
                                application and I should submit a paper application form.</p>
                            <p>I understand that to withdraw my consent whilst my application is in progress I must
                                contact the DBS helpline 03000 200 190. My application will then be withdrawn.</p>
                        </div>



                        <button routerLink="/"  class="primary-btn mt-4 mb-4">Proceed with application</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
