<section class="container sec-4">
    <h1 class="main-title">Simple Online Process</h1>
    <p>Fast-track your DBS check in just a few easy steps:</p>
    <ol>
        <li>Apply Online – Enter your personal details, address history, and make payment.</li>
        <li>Verify ID – Submit your ID documents. We’ll guide you through it.</li>
        <li>Get Your Certificate – Receive your DBS certificate in as little as 2–7 days.</li>
    </ol>

    <a>Get Started 
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
      </svg>
    </a>
</section>