<section class="container-fluid">
    <div class="row align-items-center">
        <div class="col-12 col-md-5 side-banner">
            <div class="content">
                <h1>Secure, Simple, and Supported</h1>
                <p>Our system keeps your information safe while guiding you through every step of the process.</p>
            </div>
            <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner slider-wrap-1">
                    <div class="carousel-item  active">
                        <img src="/images/banner-1.png">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/banner-2.png">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/banner-3.png">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/banner-4.png">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/banner-5.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7 right-box">

            <p class="link-txt  help">Need application help? <a><u>Contact Us </u></a> |<a><u> Call Us</u> </a></p>
            <div class="row justify-content-center">
                <div class="col-10">
                    <form class="row">
                        <div class="logo-box">
                            <img src="/images/logo-lg.png">
                        </div>


                        <h2 class="sub-heading  ">Register Step 1 of 2</h2>
                        <p class="mb-4">You can self register to access our online application service if you have been
                            provided with a secret PIN or word by your organisation</p>


                        <div class="col-12  mb-4 ">
                            <input placeholder="Organisation PIN" class="form-control">
                        </div>
                        <div class="col-12  mb-4 ">
                            <input placeholder="Your full name" class="form-control">
                        </div>
                        <div class="col-12  mb-4 ">
                            <input placeholder="Email address " class="form-control">
                        </div>
                        <div class="col-12  mb-4 ">
                            <input placeholder="Confirm email address  " class="form-control">
                        </div>



                        <div class="col-12">
                            <div class="left-right-box  mt-4">
                                <a class="link-txt"><u>Didnt receive PIN?</u></a>
                                <button routerLink="/register2" class="primary-btn">
                                    Next step
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</section>