<section class="inner-body" style="background-color: white;">
    <section class="container-fluid inner-banner" style="background-image: url(/images/callback_cover.png);">
        <div class="container">
            <h1 class="main-title"> Call Back Request Form</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Support</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Call back request</li>
                </ol>
            </nav>
        </div>
    </section>

    <section class="container-fluid mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7">
                    <div class="card-box">
                        <h2 class="main-title  mb-4">Call Back Request Form</h2>
                        <form class="row">
                            <div class="col-12 col-md-6 mb-4 ">
                                <input placeholder="First name *" class="form-control">
                            </div>
                            <div class="col-12 col-md-6 mb-4 ">
                                <input placeholder="Last name *" class="form-control">
                            </div>
                            <div class="col-12 col-md-6 mb-4 ">
                                <input placeholder="Email address *" class="form-control">
                            </div>
                            <div class="col-12 col-md-6 mb-4 ">
                                <input placeholder="Contact number *" class="form-control">
                            </div>
                            <div class="col-12 mb-4 ">
                                <select class="form-select">
                                    <option>Reason for call back</option>
                                </select>
                            </div>
                            <div class="col-12 mb-4 ">
                                <select class="form-select">
                                    <option>Preferred Call Back Time</option>
                                </select>
                            </div>
                            <div class="col-12  mb-4 ">
                                <input placeholder="Additional information" class="form-control">
                            </div>
                           
                            <div class="col-12 btn-form">
                                <button class="primary-btn">
                                    Request call back
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-md-5">
                   <img class="w100-img" src="/images/callback-banner.png">

                </div>
            </div>
        </div>
    </section>

</section>
