<section class="container-fluid sec-2">
    <h1 class="main-title">Simple, Fast and Supported</h1>
    <h2 class="sub-title">Start your DBS check or manage an existing one with ease.</h2>
    <div class="btn-panel mt-3">
        <button routerLink="/sign-in" class="primary-btn"><i></i>Start DBS Application</button>
        <button class="secondary-btn "><i></i>Manage DBS Application</button>
    </div>

    <div class="logos-box">
        <p>Trusted by<br>Leading Companies</p>
        <i><img src="images/logo3.png" alt=""></i>
        <i><img src="images/logo2.png" alt=""></i>
        <i><img src="images/logo1.png" alt=""></i>
    </div>
</section>