<section class="inner-body" style="background: #F9F9F9;">
    <section class="container-fluid inner-banner large" style="background-image: url(/images/track-bg.png);">
        <div class="container">
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Support</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Track Application</li>
                </ol>
            </nav>
            <h1 class="main-title text-start col-12 col-md-7 mb-4"> Real-Time DBS Application Tracking</h1>
            <h2 class="sub-title col-12 col-md-7 mb-4" style="color:#fff;">
                Check the status of your DBS check in real-time. Easily log in to view updates, upload documents,
                and stay informed at every stage of your application.
            </h2>
            <button routerLink="/register" class="white-btn">Register your organisation</button>
      
        </div>
    </section>

    <section class="container-fluid mt-5" style="padding-bottom: 15px">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="card-wrap">
                        <h2 class=".sub-heading-1  mb-4">Track your DBS application</h2>
                        <form class="row">
                            <div class="col-12 mb-4 ">
                                <input placeholder=" Please enter applicant’s Check DBS Application reference *"
                                    class="form-control">
                            </div>
                            <div class="col-12  mb-4 ">
                                <input placeholder="Applicants date of birth" class="form-control">
                            </div>
                            <div class="col-12 col-md-8 mb-4 ">
                                <input placeholder="Enter captcha *" class="form-control">
                            </div>
                            <div class="col-12 col-md-4 mb-4 ">
                                Captcha
                            </div>


                            <div class="col-12 btn-form">
                                <button class="primary-btn btn-lg">
                                    Track application
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card_track">
                        <h2 class="sub-heading-2  mb-4"><b>Your application status</b></h2>
                        <h2 class="sub-heading-2  green-txt"><b>ID Verification</b></h2>
                        <div class="left-right-box mb-4">
                            <label class="link-txt" style="text-decoration: none;">Last updated on 29April,
                                2025</label>
                            <a class="link-txt"><u>Refresh status</u></a>
                        </div>
                        <div class="timeline">
                            <div class="status-box active">
                                <span ></span>
                                <label>Application
                                    Submitted</label>
                            </div>

                            <div class="status-box active">
                                <span></span>
                                <label>Payment
                                    Received</label>
                            </div>
                            <div class="status-box active last-active">
                                <span ></span>
                                <label>ID
                                    Verification</label>
                            </div>
                            <div class="status-box">
                                <span class="active"></span>
                                <label>Application
                                    Sent to DBS</label>
                            </div>
                            <div class="status-box">
                                <span class="active"></span>
                                <label>DBS
                                    Processing</label>
                            </div>
                            <div class="status-box">
                                <span class="active"></span>
                                <label>Certificate
                                    Issued</label>
                            </div>

                        </div>

                        <label class="link-txt" style="text-decoration: none;">Last updated on 29April, 2025</label>
                    </div>

                </div>
            </div>
        </div>
    </section>

</section>
