<section class="inner-body">
    <section class="container-fluid inner-banner">
      <div class="container">
        <h1 class="main-title">Register your Organisation</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Register Organisation</li>
          </ol>
        </nav>
      </div>
    </section>
  
    <!-- Tab Navigation -->

      <section class="container-fluid">
        <div class="container">
          <div class="pagination-wrap">
            <ul class="nav nav-tabs" id="registrationTabs" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link complete" [class.active]="selectedIndex === 0" (click)="setTab(0)">
                  <span>1</span>Company Details
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" [class.active]="selectedIndex === 1" (click)="setTab(1)" id="user-tab" data-bs-toggle="tab" 
                        data-bs-target="#user" type="button" role="tab" 
                        aria-controls="user" aria-selected="true">
                  <span>2</span>User Details
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" [class.active]="selectedIndex === 2" (click)="setTab(2)">
                  <span>3</span>Final Steps
                </button>
              </li>
            </ul>
          </div>
        </div>
      </section>
  
    <!-- Tab Content -->
    <section class="container-fluid">
      <div class="container">
        <div class="tab-content" id="registrationTabsContent">
          <!-- Company Details Tab -->
          <div class="tab-pane fade show"[ngClass]="{'show active': selectedIndex === 0}" id="company" role="tabpanel" aria-labelledby="company-tab">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="card-box">
                        <h2 class="sub-heading  mb-4">Organisation Details</h2>
                        <form class="row">
                            <div class="col-12 col-md-6 mb-4 ">
                                <input placeholder="Organisation full name *" class="form-control">
                            </div>
                            <div class="col-12 col-md-6  mb-4">
                                <input placeholder="Organisation register number" class="form-control">
                            </div>

                            <div class="col-12 col-md-6  mb-4">
                                <select class="form-select" aria-label="Default select example">
                                    <option>United Kingdom</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-6  mb-4">
                                <input placeholder="Which city is your company based in? *" class="form-control">
                            </div>
                            <div class="col-12 col-md-6  mb-4">
                                <input placeholder="Address Line 1 *" class="form-control">
                            </div>
                            <div class="col-12 col-md-6  mb-4">
                                <input placeholder="Address Line 2 " class="form-control">
                            </div>
                            <div class="col-12 col-md-6  mb-4">
                                <input placeholder="Postal Code *" class="form-control">
                            </div>
                            <div class="col-12 col-md-6  mb-4">
                                <input placeholder="Business Sector *" class="form-control">
                            </div>
                            <div class="col-12 col-md-6  mb-4">
                                <input placeholder="Organization telephone number *" class="form-control">
                            </div>
                            <div class="col-12 col-md-6  mb-4">
                                <input placeholder="Organization email *" class="form-control">
                            </div>

                            <div class="form-check col-12">
                                <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                                <label class="form-check-label" for="checkDefault">
                                    Please acknowledge that you are aware that this registration form is for an
                                    organisation to register with us for the provision of DBS Checks. If you are an
                                    applicant who has been directed by your employer/volunteering organisation to visit
                                    our website to complete a DBS application please click here*
                                </label>
                            </div>
                            <div class="col-12 btn-form">
                                <button (click)="nextTab()" class="primary-btn">
                                    Submit & Proceed
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="pink-card">
                        <p>Complete the form to register with DBS Check
                            or call our friendly team and we can register you over the telephone.
                        </p>
                        <button class="white-btn">Call customer support</button>
                    </div>
                    <div class="white-card">
                        <h2 class="sub-heading">Why Register?</h2>
                        <ol>
                            <li>Start your DBS check securely</li>
                            <li>Quick and simple application process</li>
                            <li>Track your application status anytime</li>
                            <li>Get notified as soon as results are ready</li>
                            <li> Save your details for future checks</li>
                        </ol>
                    </div>


                </div>
            </div>
          </div>
          
          <!-- User Details Tab -->
          <div class="tab-pane fade"  [ngClass]="{'show active': selectedIndex === 1}" id="user" role="tabpanel" aria-labelledby="user-tab">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="card-box">
                        <h2 class="sub-heading  mb-4">User Details</h2>
                        <h3 class="sub-heading-2  mb-4" style="color:#6C177C; text-decoration: underline;">User 1</h3>
                        <form class="row" (ngSubmit)="onSubmit($event)">
                            <div class="col-12 col-md-6 mb-4 ">
                                <input placeholder="First name *" class="form-control">
                            </div>
                            <div class="col-12 col-md-6  mb-4">
                                <input placeholder="Last name *" class="form-control">
                            </div>
                            <div class="col-12 col-md-6  mb-4">
                                <input placeholder="Email address *" class="form-control">
                            </div>
                            <div class="col-12 col-md-6  mb-4">
                                <input placeholder="Job title *" class="form-control">
                            </div>
                            <div class="col-12 col-md-6  mb-4">
                                <input placeholder="User name *" class="form-control">
                            </div>
                            <div class="col-12 col-md-6  mb-4">
                                <input placeholder="Password *" class="form-control">
                            </div>

                            <div class="col-12 col-md-6  mb-4">
                                <select class="form-select" aria-label="Default select example">
                                    <option>Job role *</option>
                                </select>
                            </div>
                            <div class="col-12 btn-form">
                                <button class="bdr-btn ">
                                   <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                  </svg></i> Add new user
                                </button>
                                <button  type="submit" class="primary-btn">
                                    Submit & Proceed
                                </button>
                            </div>

                            <p class="col-12 mt-4 pt-4 text-small">You can add up to 10 additional system users to receive their own logins to manage DBS checksPrimary Applicant Manager – Full access, send invites, check ID approve applications, amend applications, track applications, view completed results and reports.Applicant Manager – Send invites, check ID, approve applications, track applications, view completed results.ID Checker – Check ID only (This user access cannot approve checks for process, track or view completed results)</p>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="pink-card">
                        <p>Complete the form to register with DBS Check
                            or call our friendly team and we can register you over the telephone.
                        </p>
                        <button class="white-btn">Call customer support</button>
                    </div>
                    <div class="white-card">
                        <h2 class="sub-heading">Why Register?</h2>
                        <ol>
                            <li>Start your DBS check securely</li>
                            <li>Quick and simple application process</li>
                            <li>Track your application status anytime</li>
                            <li>Get notified as soon as results are ready</li>
                            <li> Save your details for future checks</li>
                        </ol>
                    </div>


                </div>
            </div>
          </div>
          
          <!-- Final Steps Tab -->
          <div class="tab-pane fade" [ngClass]="{'show active': selectedIndex === 2}" id="final" role="tabpanel" aria-labelledby="final-tab">
            <div class="row">
              <div class="col-12 col-md-8">
                <div class="card-box">
                    <h2 class="sub-heading  mb-4">Final Steps</h2>

                    <form class="row big-checklabel">

                        <div class="col-12 mb-3 mt-2 ">
                            <h4 class="sub-heading-2 ">What type of checks do you require? * </h4>
                        </div>
                        <div class="col-12 col-md-6 mb-3 ">
                            <div class="form-check col-12">
                                <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                                <label class="form-check-label" for="checkDefault">
                                    lorum ipsum
                                </label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-3 ">
                            <div class="form-check col-12">
                                <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                                <label class="form-check-label" for="checkDefault">
                                    lorum ipsum
                                </label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-3 ">
                            <div class="form-check col-12">
                                <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                                <label class="form-check-label" for="checkDefault">
                                    lorum ipsum
                                </label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-3 ">
                            <div class="form-check col-12">
                                <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                                <label class="form-check-label" for="checkDefault">
                                    lorum ipsum
                                </label>
                            </div>
                        </div>

                    </form>

                    <form class="row big-checklabel">
                        <div class="col-12 mb-3 mt-2">
                            <h4 class="sub-heading-2 ">How do you want to pay for your applications? * </h4>
                        </div>

                        <div class="col-12 mb-3">
                            <div class="form-check col-12">
                                <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                                <label class="form-check-label" for="checkDefault">
                                    lorum ipsum
                                </label>
                            </div>
                        </div>
                        <div class="col-12 mb-3 ">
                            <div class="form-check col-12">
                                <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                                <label class="form-check-label" for="checkDefault">
                                    lorum ipsum
                                </label>
                            </div>
                        </div>
                        <div class="col-12 mb-3 ">
                            <div class="form-check col-12">
                                <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                                <label class="form-check-label" for="checkDefault">
                                    lorum ipsum
                                </label>
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="form-check col-12">
                                <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                                <label class="form-check-label" for="checkDefault">
                                    lorum ipsum
                                </label>
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="form-check col-12">
                                <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                                <label class="form-check-label" for="checkDefault">
                                    lorum ipsum
                                </label>
                            </div>
                        </div>

                        <div class="col-12 col-md-8  mb-4">
                            <label class="small_label">How many application do you anticipate submitting
                                annually? *</label>
                            <select class="form-select" aria-label="Default select example">
                                <option>United Kingdom</option>
                            </select>
                        </div>

                    </form>
                    <form class="row">
                        <div class="col-12 mb-3 mt-2">
                            <h4 class="sub-heading-2 ">Consent to request details </h4>
                        </div>

                        <div class="col-12 mb-3 confirm-box">
                            <div class="form-check col-12">
                                <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                                <label class="form-check-label" for="checkDefault">
                                    Please confirm you are entitled to request DBS checks on your staff members
                                    or volunteers.
                                </label>
                            </div>
                        </div>

                        <div class="col-12 mb-3 mt-2 ">
                            <h4 class="sub-heading-2 ">Confirm Terms and conditions </h4>
                        </div>

                        <div class="col-12 mb-3 confirm-box">
                            <div class="form-check col-12">
                                <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                                <label class="form-check-label" for="checkDefault">
                                    Please confirm you have read our terms of service
                                </label>
                            </div>
                        </div>
                        <div class="col-12 btn-form">

                            <button (click)="submitForm()" class="primary-btn">
                                Submit application
                            </button>
                        </div>


                    </form>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="pink-card">
                    <p>Complete the form to register with DBS Check
                        or call our friendly team and we can register you over the telephone.
                    </p>
                    <button class="white-btn">Call customer support</button>
                </div>
                <div class="white-card">
                    <h2 class="sub-heading">Why Register?</h2>
                    <ol>
                        <li>Start your DBS check securely</li>
                        <li>Quick and simple application process</li>
                        <li>Track your application status anytime</li>
                        <li>Get notified as soon as results are ready</li>
                        <li> Save your details for future checks</li>
                    </ol>
                </div>


            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>