<section class="container-fluid poster-box">
    <div class="container ">
        <div class="row align-items-center">
            <div class="col-12 col-md-7">
                <h1 class="main-title">Ready to Get Started?</h1>
                <p>Join thousands who trust Check DBS for fast, secure, and fully supported background checks. Whether
                    you're applying for yourself or managing checks for your team, we make it simple.</p>
                <button routerLink="/sign-in" class="white-btn">Start DBS Application</button>
            </div>
            <div class="col-12 col-md-5">
                <img class="img-fit" src="images/poster.png" alt="">
            </div>
        </div>
    </div>
</section>