

<header>
  <div class="container" style="padding: 15px 0;">
      <div class="box-1">
          <a><img src="../images/logo.png"></a>

      </div>

      <div class="box-2">
  
          <button routerLink="/sign-in" class="primary-btn">Save and sign out</button>
      </div>

      <a class="menu-btn"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
              class="bi bi-list" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                  d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
          </svg></a>
  </div>

</header>


<section class="wrapper-box" style="background-color: #FCEFFF;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <div class="card-dbs">
            <div class="top-bg"  style="background-image: url(/images/cover-image.png);">

            </div>
            <div class="content-box">
              <h1 class="sub-heading">Before you Begin</h1>
              <p>
                This application process should only take around 4–5 minutes to
                complete. You can save your progress and return at any time to
                complete the application. By proceeding with your application you
                (or your organisation) will not be subject to any refund.
              </p>
  
              <h1 class="sub-heading">What you will need</h1>
              <p>
                If you have any of the following, then you will be asked to
                provide details:
              </p>
              <ul>
                <li>National Insurance number</li>
                <li>Valid Driving licence</li>
                <li>Valid passport</li>
                <li>Valid national ID card</li>
              </ul>
  
              <button
                routerLink="/aftersign2"
                class="primary-btn mt-4 mb-4"
              >
                Begin Application
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  