<section class="inner-body" style="background-color: white;">

    <section class="container-fluid inner-banner">
        <div class="container">
            <h1 class="main-title">Contact Us</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                </ol>
            </nav>
        </div>
    </section>

    <section class="container-fluid mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7">
                    <div class="card-box">
                        <h2 class="main-title  mb-4">Get in touch!</h2>
                        <form class="row">
                            <div class="col-12 col-md-6 mb-4 ">
                                <input placeholder="First name *" class="form-control">
                            </div>
                            <div class="col-12 col-md-6 mb-4 ">
                                <input placeholder="Last name *" class="form-control">
                            </div>
                            <div class="col-12 col-md-6 mb-4 ">
                                <input placeholder="Email address *" class="form-control">
                            </div>
                            <div class="col-12 col-md-6 mb-4 ">
                                <input placeholder="Contact number *" class="form-control">
                            </div>
                            <div class="col-12  mb-4 ">
                                <textarea placeholder="Reason *" class="form-control"></textarea>
                            </div>
                            <div class="col-12 col-md-6 mb-4 ">
                                <input placeholder="Enter captcha *" class="form-control">
                            </div>
                            <div class="col-12 col-md-6 mb-4 ">
                                Capcha
                            </div>
                           
                            <div class="col-12 btn-form">
                                <button class="primary-btn">
                                    Submit & Proceed
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-md-5">
                   <img class="w100-img" src="images/contactus.png">

                </div>
            </div>
        </div>
    </section>

</section>
