.dbs-box{
    padding: 30px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.dbs-box h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}
.link-text {
    margin-bottom: 10px;
}

.link-text a{
    font-size: 16px;
    color: #259FEB;
    font-style: italic;
    cursor: pointer;
}

@media (max-width: 767.98px) { 
    .link-text a{
        font-size: 14px;
        color: #259FEB;
        font-style: italic;
        cursor: pointer;
    }
}

.inner-banner.large {
    position: relative;
    background-image: url('/images/right_to_do_cover.png');
    background-size: cover;
    background-position: center;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity here */
    z-index: 1;
}

.container {
    position: relative;
    z-index: 2;
}
