<section class="inner-body" style="background-color: white;">
    <section class="container-fluid inner-banner" style="background-image: url(/images/faq-cover.png);">
        <div class="container">
            <h1 class="main-title"> FAQs</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Support</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Faq</li>
                </ol>
            </nav>
        </div>
    </section>

    <section class="container-fluid">
        <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="card-box">
                    <h2 class="main-title mb-4">Frequently asked questions</h2>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" 
                                        data-bs-toggle="collapse" 
                                        data-bs-target="#flush-collapseOne" 
                                        aria-expanded="false" 
                                        aria-controls="flush-collapseOne">
                                    How long does a DBS check take?
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry...
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" 
                                        data-bs-toggle="collapse" 
                                        data-bs-target="#flush-collapseTwo" 
                                        aria-expanded="false" 
                                        aria-controls="flush-collapseTwo">
                                    What documents do I need for ID verification?
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry...
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" 
                                        data-bs-toggle="collapse" 
                                        data-bs-target="#flush-collapseThree" 
                                        aria-expanded="false" 
                                        aria-controls="flush-collapseThree">
                                    Can individuals apply for a DBS check, or is it only for businesses?
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>

</section>